<h2>Meals</h2>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#home">Lunch</a></li>
  <li><a href="#profile">Dinner</a></li>
</ul>
 

<div class="span10" id="container">
  <% @meals.each do |meal| %>
  <div class="item">
    <div class id="<%meal.category %>">
      <%= filepicker_image_tag meal.photo, w: 30, h: 30, fit: 'clip' %><br>
        <div class="meal-title">
          <%= meal.title %><br>
        </div>
        <div class="meal-description">
          <%= meal.description %>....
        </div>
        <div>
          <%=link_to 'Buy', root_path, :class => "btn"%>
        </div>
    </div>
  </div>
<% end %>  
</div>


