/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.navbar  {
	line-height: 80px !important;
	position: relative !important;
	background-color: blue !important;
}
      

.brand {
 	font-size: 36px !important;
 	color: #008080 !important;
 }

.nav {
	float: right !important;
	margin-top: 30px !important;

}

li {
	margin-right: 30px !important;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid;
}
