body {
  padding-top: 50px;
}

.item {
  width: 220px;
  margin: 10px;
  float: left;
  border: 1px solid #DDD;
  height: 350px;
}

.meal-title{
  font-family: 'Strait', sans-serif;
  font-size: 20pt;
  font-weight: bold;
}

.meal-description{
  font-family: 'Archivo Narrow', sans-serif;
}

